@page "/"

<PageTitle>Home</PageTitle>

<h1>Boid Boys</h1>

This is a boid simulation for the course INFOMCRWS at Utrecht University.
The simulation is running on Blazor and ThreeJS.
Made by Alex Janse, Antonio Sato Davoli De Araujo, Jaël Kwakkel & Kian Niek Hamidi Abd Abad.